# Arquivos e pastas a ignorar no build do Docker
.gradle
build/*
!build/libs
build/libs/*
!build/libs/*.jar
bin
.idea
.vscode
*.iml
*.ipr
*.iws
.DS_Store
logs
*.log
.git
.gitignore
README.md
DETALHAMENTO_TECNICO.md
COMO_RODAR.md
COMANDOS_TERMINAL.md
COMANDOS_GIT_BASH.md
CONFIGURAR_JAVA.md
INSTRUCOES_POS_INSTALACAO.md
COMO_RODAR_DOCKER.md
mockserver
composer
gradlew
gradlew.bat
*.sh
*.bat
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

